<html>
  <link rel="stylesheet" type="text/css" href="/static/main.css">
<body>
  <div id="header">
    <a href="/">Retour</a>
  </div>
  {% if form.error %}
    <div id="error">{{form.error}}</div>
  {% endif %}
  <form method="post" action="create">
  <ul>
    <li>
      <span class="label">Nom : </span>
      <input type="text" name="name" value="{{form.name}}"
             placeholder="Nom du personnage"/>
    </li>
    <li>
      <span class="label">Points de fatigue : </span>
      <input type="int" name="PF" value="{{form.PF}}"
             placeholder="PF = Force + Volonté"/>
    </li>
    <li>
      <span class="label">Blessure légère : </span>
      <input type="int" name="BL" value="{{form.BL}}"
             placeholder="BL = Force + 2"/>
    </li>
    <li>
      <input type="submit" value="Créer la fiche"/>
    </li>
  </ul>
</form>
</div>
