<html>
<script type='text/Javascript'>
  function check_checkbox(id_PF,id_checkbox, pf_value)  {
      if(document.getElementById(id_checkbox).checked == true) {
          document.getElementById("PF_"+id_PF).innerHTML=parseInt(document.getElementById("PF_"+id_PF).innerHTML)-pf_value;
      }
      else
      {
          document.getElementById("PF_"+id_PF).innerHTML=parseInt(document.getElementById("PF_"+id_PF).innerHTML)+pf_value;
  }
  malus = parseInt(document.getElementById("PF_init_"+id_PF).innerHTML)-
      parseInt(document.getElementById("PF_"+id_PF).innerHTML);
  document.getElementById("img_corps_"+id_PF).style.paddingLeft=malus*30+'px'
   document.getElementById("malus_"+id_PF).innerHTML=malus;
  }
</script>
<link rel="stylesheet" type="text/css" href="/static/main.css">
<body>
  <div id="header">
    <a href="/">Retour</a>
    <a href="{{group}}/create" class="add">Ajouter un PJ</a>

  </div>

  {% for result in results %}
<div class="card">
  <div class="card-header">
    <div class="title">{{result.name}}
    </div>
    <div class="subtitle"> PF
 :   <span id="PF_{{result.id}}">{{result.pf}}</span>
      / <span id="PF_init_{{result.id}}">{{result.pf}}</span>
      Malus :  <span id="malus_{{result.id}}">0</span>
      <a href="{{group}}/{{result.id}}/delete" class="delete">X</a>

    </div>
  </div>
  <div>
    <h4>Modificateurs de conditions :</h4>
    <span class="level"> BL :  {{result.bl}}</span>
    <input id="checkbox_bl_{{result.id}}_1" type="checkbox"
    onClick='check_checkbox({{result.id}},
           "checkbox_bl_{{result.id}}_1", 1);'/>
    <input id="checkbox_bl_{{result.id}}_2" type="checkbox"
    onClick='check_checkbox({{result.id}},
           "checkbox_bl_{{result.id}}_2", 1);'/>
    <input id="checkbox_bl_{{result.id}}_3" type="checkbox"
    onClick='check_checkbox({{result.id}},
           "checkbox_bl_{{result.id}}_3", 1);'/>
    <input id="checkbox_bl_{{result.id}}_4" type="checkbox"
    onClick='check_checkbox({{result.id}},
           "checkbox_bl_{{result.id}}_4", 1);'/>
    <input id="checkbox_bl_{{result.id}}_5" type="checkbox"
    onClick='check_checkbox({{result.id}},
           "checkbox_bl_{{result.id}}_5", 1);'/>
    <input id="checkbox_bl_{{result.id}}_6" type="checkbox"
    onClick='check_checkbox({{result.id}},
           "checkbox_bl_{{result.id}}_6", 1);'/>
  </div>
  <div><span class="level"> BG :  {{result.bl *2}}</span>
    <input id="checkbox_bg_{{result.id}}_1" type="checkbox"
    onClick='check_checkbox({{result.id}},
           "checkbox_bg_{{result.id}}_1", 2);'/>
    <input id="checkbox_bg_{{result.id}}_2" type="checkbox"
    onClick='check_checkbox({{result.id}},
           "checkbox_bg_{{result.id}}_2", 2);'/>
    <input id="checkbox_bg_{{result.id}}_3" type="checkbox"
    onClick='check_checkbox({{result.id}},
           "checkbox_bg_{{result.id}}_3", 2);'/>
    <input id="checkbox_bg_{{result.id}}_4" type="checkbox"
    onClick='check_checkbox({{result.id}},
           "checkbox_bg_{{result.id}}_4", 2);'/>
    <input id="checkbox_bg_{{result.id}}_5" type="checkbox"
    onClick='check_checkbox({{result.id}},
           "checkbox_bg_{{result.id}}_5", 2);'/>
  </div>
  <div><span class="level"> BF :  {{result.bl *3}}</span>
      <input id="checkbox_bf_{{result.id}}_1" type="checkbox"
    onClick='check_checkbox({{result.id}}, "checkbox_bf_{{result.id}}_1", 4);'/>
      <input id="checkbox_bf_{{result.id}}_2" type="checkbox"
    onClick='check_checkbox({{result.id}}, "checkbox_bf_{{result.id}}_2", 4);'/>
      <input id="checkbox_bf_{{result.id}}_3" type="checkbox"
    onClick='check_checkbox({{result.id}}, "checkbox_bf_{{result.id}}_3", 4);'/>

  </div>
  <div><span class="level"> MS :  {{result.bl *4}}</span>
      <input id="checkbox_ms_{{result.id}}_1" type="checkbox"
    onClick='check_checkbox({{result.id}},
             "checkbox_ms_{{result.id}}_1", 12);'/>
      <input id="checkbox_ms_{{result.id}}_2" type="checkbox"
    onClick='check_checkbox({{result.id}},
             "checkbox_ms_{{result.id}}_2", 12);'/>
  </div>
  <div class="image">
  <img id="img_header_{{result.id}}" src="static/img/header.png"/>
  <img id="img_corps_{{result.id}}" src="static/img/corps.png"/>
  </div>

</div>
{% endfor %}
    <a href="{{group}}/delete" class="delete" >Supprimer le groupe</a>
</body>
</html>
